.bg-gray{
    background-color: gray;
    display: flex;
   justify-content: space-between;
   
}

@media (max-width: 1033px) {
    .bg-gray {
        flex-direction: column;
        margin: 0;
        justify-content: center;
        align-items: center;
        
    }
}