.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.div-home{
    height: 90pxvh;
    color: rgb(247, 247, 247);
    text-align: center;
    padding: 15px
}

.new{
    color: white;
    background-color: rgba(99, 90, 90, 0.301);
    border-radius: 1rem;
    text-decoration:double;
    font-size: small;
    animation-iteration-count: infinite;
    box-shadow: 2px;
}

.div-home {
  padding: 20px;
 
}

.titulo {
  background: rgba(0, 0, 0, 0.913); 
  border-radius: 8px; 
  padding: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  width: 100%; 
  max-width: none; 
  margin: 0; 
}



.tarjetas {
  color: rgba(0, 0, 0, 0.854);
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
}

.tarjetas .card-container {
  position: relative;
  flex: 1 1 22%;
  padding: 20px;
}

.tarjetas .card-container:not(:last-child) {
  border-right: 2px solid black; 
}

.tarjetas .card-container:last-child {
  border-right: none; 
}

.tarjetas i {
  margin-bottom: 0.5rem; 
  font-size: 2rem;
}
