.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.redes {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #f7f5f5;
  width: 300px;
  height: 410px;
  text-align: center;
  left: 70%;
 margin: 20px;

}
.img {
  background-color: rgba(11, 11, 11, 0);
  height: 50px;
  font-weight: 60;
  font-size: larger;
}
.img:hover {
  cursor: pointer;
}

.href {
  color: aliceblue;
  text-decoration: none;
}
